body {
    /*background-color:#efeee7;*/
    /* font: Georgia, "Times New Roman", Times, serif; */
    color: #333333;
    line-height: 150%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: '#777';
    font-size: '18px'
}

header { 
    width: 100%;
    background-color:#ffffff;
}

 .about {
    width:20%;
    height: 45px;
    color: #777777;
    margin-right: 5%;
}

 .contact {
    width:20%; 
    height: 45px;
    color: #777777;
    padding-right: 20px;
}

.portfolio { 
    width:20%;
    height: 45px;
    color: #777777;
    margin-left: 40%;
    padding-right: 20px;
}


.header {
    color: #efeee7;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    text-align: center;
    background-color: #4aaaa5;
    float: left;
    width:220px;
    height: 50px;
    margin-top: 0px;
margin-bottom: 0px;
padding-top: 22px;
margin-left: 10%;
}

.links{
    height: 50px;
    padding-top: 22px;
    margin-top: 0px;
}

.h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: #4aaaa5;
    margin-left: 41px;
    margin-bottom: 19.917px;
    margin-top: -5.083px;
    border-bottom-width: 3px;
    padding-bottom: 18px;
    border-bottom-style: solid;
    margin-right: 47px;
    border-color: #dddddd;
}

a {
    color:black
}
.background-pattern {
    border-top-width: 3px;
border-top-style: solid;
padding-bottom: 66px;
}

.container {
    bottom: 5px;
    clear: both;
    background-color:#ffffff;
    color: #777777;
    margin-top: 23px;
    padding-top: 28px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1px;
}

.bio-image {
    width: 200px;
    height: 200px;
    margin-right:20px;
    margin-left: 40px;
    float: left;
    padding-top: 5px;
}

.copyright {
    padding-top: 24px;
    height: 35px;
    background-color: #333333;
    color: #777777;
    text-align: center;
    width: 100%;
    border-top-width: 5px;
border-top-style: solid;
border-color: #4aaaa5;
/* height: 50px; */
} 


.content {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 50px;
}

/* styling below specific to contact.html */

.p1name {
    margin-bottom: 2px;
    padding-top: 5px;
    margin-top: 16px;
    padding-left: 41px;
}

.email {
    padding-left: 41px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.pmessage {
    padding-left: 41px;
    margin-top: 3px;
    margin-bottom: 3px;
}

form {
    padding-left: 41px;
}

input {
    width: 94%;
}
.message-area {
    margin-left: 40px;
    width: 90%;
    height: 100px;
}

.button {
    clear: both;
    margin-left: 40px;
    background-color: #4aaaa5;
}

/*styles below this line are specific to porfolio page*/

.container-portfolio::after {
    display: block;
    clear: both;
    content: "";
}

/* .portfolio-area { 
    padding-top: 9px;
 } */
 .pic1{
     position: relative;

     width: 300px;
     height: 200px;
     margin-bottom: 40px;
    
 }

 .word-guess {
     position: absolute;
    width: 300px;
    height: 200px;

}

 .word-guess-banner{ 
    position: absolute;
    width: 300px;
    height: 35px;
    padding-top: 13px;
    background-color: #4aaaa5;
    color:#ffffff;
    text-align:center;
    right: 0px;
    bottom:15px;
}

.pic2{
    position: relative;
    width: 300px;
    height: 200px;
    left: 50%;
    margin-top: -239px;
    
}

.rpg {
    width: 300px;
    height: 200px;
}

.rpg-banner { 
    position: absolute;
    right: 0px;
    width: 300px;
    height: 35px;
    padding-top: 13px;
    background-color: #4aaaa5;
    color:#ffffff;
    text-align:center;
    bottom:15px;
}

.pic3{
    position: relative;
    width: 300px;
    height: 200px;
    top: 44px;
}

.trivia {
    width: 300px;
    height: 200px;
}

 .trivia-banner{ 
    position: absolute;
    right: 0px;
    width: 300px;
    height: 35px;
    padding-top: 13px;
    background-color: #4aaaa5;
    color:#ffffff;
    text-align:center;
    top: 128px;
}

.pic4{
    position: relative;
    width: 300px;
    height: 200px;
    margin-bottom: 40px;
    left: 50%;
    top: -156px;
}

.widget {
    width: 300px;
    height: 200px;
    border-top-width: 1px;
border-top-style: solid;
border-right-width: 1px;
border-right-style: solid;
border-bottom-width: 1px;
border-bottom-style: solid;
border-left-width: 1px;
border-left-style: solid;
}

 .widget-banner { 
    position: absolute;
    right: 0px;
    width: 300px;
    height: 35px;
    padding-top: 13px;
    background-color: #4aaaa5;
    color:#ffffff;
    text-align:center;
    bottom: 22px;
    left: 1px;
} 

.pic5{
    position: relative;
    width: 300px;
    height: 200px;
    top: -151px;
    
}

.rock-paper-scissors {
    width: 300px;
    height: 200px;
    margin-right: 59px;
    float: left;
    border-top-width: 1px;
border-top-style: solid;
border-right-width: 1px;
border-right-style: solid;
border-bottom-width: 1px;
border-bottom-style: solid;
border-left-width: 1px;
border-left-style: solid;
}

 .rock-paper-scissors-banner {
    position: absolute;
    right: 0px; 
    width: 300px;
    height: 35px;
    padding-top: 13px;
    background-color: #4aaaa5;
    color:#ffffff;
    text-align:center;
    top:88px;
    left: 1px;
}


.container-portfolio {
    width:70%;
    bottom: 5px;
    clear: both;
    background-color:#ffffff;
    color: #777777;
    margin-top: 23px;
    padding-top: 28px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 46px;

}

.h2-portfolio {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: #4aaaa5;
    margin-left: 0px;
    margin-bottom: 29.917px;
    margin-top: -5.083px;
    border-bottom-width: 3px;
    padding-bottom: 18px;
    border-bottom-style: solid;
    border-color: #dddddd;
    padding-top: 26px;
    margin-right: 47px;
}

/*below this line is media query code to adjust code as screen changes size*/

  @media screen and (max-width: 980px) { 
    
    header {
         background-color: orange;
     }

    .portfolio {
        margin-left: 26%;
    }

    .pic1{
        width:200px;
        height:150px 
    }
    
    .word-guess{
        width:200px;
        height:150px;
    }

    .word-guess-banner {
        width:200px;
    }

    .pic2{
        width:200px;
        height:150px; 
        margin-top: -188px;
    }
    
    .rpg{
        width:200px;
        height:150px
    }

    .rpg-banner {
        width:200px;
    }

    .pic3{
        width:200px;
        height:150px;
    }

    .trivia {
        width:200px;
        height:150px;
    }

    .trivia-banner {
        width:200px;
        top: 81px;
    }

    .pic4{
        width:200px;
        height:150px;
        top: -106px; 
    }

    .widget{
        width:200px;
        height:150px; 
    }

    .widget-banner{
        width:200px;
    }

    .pic5{
        width:200px;
        height:150px;
        top: -78px; 
    }

    .rock-paper-scissors{
        width:200px;
        height:150px; 
    }

    .rock-paper-scissors-banner{
        width:200px;
    }

  }


  @media screen and (max-width: 768px) { 
     
    header {
         background-color: blue;
     }
    .portfolio {
        margin-left: 15%;
    }     
}

@media screen and (max-width: 640px) { 
    
    header {
        background-color: red;
    }

    .header{
        display: block;
        float: none;
        width:100%; 
        margin-left:0px; 
    }

     .links {
         display: block;
         float: none;
         margin-left:25%;
     }   

     .portfolio {
         margin-left: 5%;
     }

     .container-portfolio {
         margin: 5%;
         width:82%;
         height:1800px;
     }

     .h2-portfolio {
        margin-right: 6%
     }

     .pic1{
        position: relative;
        width: 94%;
        height:0 auto;
    }
   
    .word-guess {
        position: absolute;
        width: 100%;
        height: 300px;
   
   }
   
    .word-guess-banner{ 
       position: absolute;
       width: 100%;
       height: 35px;
       padding-top: 13px;
       background-color: #4aaaa5;
       color:#ffffff;
       text-align:center;
       right: 0px;
       bottom:15px;
       top: 223px;
    }
   
   .pic2{
       position: relative;
       width: 94%;
       height:0 auto;
       left: 0px;
       margin-top: 0px;
       top: 150px;  
   }
   
   .rpg {
       width: 100%;
       height: 300px;
   }
   
   .rpg-banner { 
       position: absolute;
       right: 0px;
       width: 100%;
       height: 35px;
       padding-top: 13px;
       background-color: #4aaaa5;
       color:#ffffff;
       text-align:center;
       bottom: 29px;
       top: 224px;
   }
   
   .pic3{
       position: relative;
       width: 94%;
       height: 0 auto;
       top: 335px;
    }
   
   .trivia {
       width: 100%;
       height: 300px;
   }
   
    .trivia-banner{ 
       position: absolute;
       right: 0px;
       width: 100%;
       height: 35px;
       padding-top: 13px;
       background-color: #4aaaa5;
       color:#ffffff;
       text-align:center;
       top: 221px;
   }
   
   .pic4{
       position: relative;
       width: 94%;
        height: 0 auto;
       margin-bottom: 40px;
       left:0px;
       top: 519px;;
   }
   
   .widget {
       width: 100%;
       height: 300px;
       border-top-width: 1px;
   border-top-style: solid;
   border-right-width: 1px;
   border-right-style: solid;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-left-width: 1px;
   border-left-style: solid;
   }
   
    .widget-banner { 
       position: absolute;
       right: 0px;
       width: 100%;
       height: 35px;
       padding-top: 13px;
       background-color: #4aaaa5;
       color:#ffffff;
       text-align:center;
       bottom: -28px;
       left: 1px;
       top: 218px;
   } 
   
   .pic5{
       position: relative;
       width: 94%;
       height: 0 auto;
       top: 670px;
       
   }
   
   .rock-paper-scissors {
       width: 100%;
       height: 300px;
       margin-right: 59px;
       float: left;
       border-top-width: 1px;
   border-top-style: solid;
   border-right-width: 1px;
   border-right-style: solid;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-left-width: 1px;
   border-left-style: solid;
   }
   
    .rock-paper-scissors-banner {
       position: absolute;
       right: 0px; 
       width: 100%;
       height: 35px;
       padding-top: 13px;
       background-color: #4aaaa5;
       color:#ffffff;
       text-align:center;
       top: 225px;
       left: 1px;
   }




 }